html,
body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

html{
  overflow:hidden;
}

body{
  overflow:auto;
}

:focus{
  outline:none;
  background-color: #101010 !important;
}

#Wrapper{
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
}

#Sidebar{
  height: 100%;
  position:absolute;
  border-right:1px solid #101010;
  color:#ccc;
  font-family: arial;
  transition: margin-left .3s;
}

#Content{
  height:100%;
}

canvas{
  margin-bottom:-4px;
}

button{
  background:transparent;
  border-radius: 20px;
  cursor: pointer;
}

button.primary{
  border:3px solid #0095ff;
  color:#0095ff;
  padding:5px 25px;
}

button.secondary{
  border:1px solid #696969;
  color:#888;
  padding:7px 27px;
}

button:hover{
  color:#fff;
}

nav hr.top
{
  margin-top: 20px;
  margin-left: -15px;
  margin-right: -15px;
  border:1px solid #3a3a3a;
}

input{
  border-radius: 3px;
  border:1px solid #333;
  padding:5px 10px;
  background-color: #1d1d1d;
  color:#0095ff;
}

input[type=number]{
  opacity: 0;
}

.spinner > input[type=number]{
  opacity:100;
}

label{
  margin-bottom: 5px;
}

nav ul li label,
nav ul li input {
  display:block;
}

nav ul li{
  margin-bottom:15px;
  list-style: none;
}

nav ul{
  padding-left:0;
}

.translate input,
.rotate input{
  display:inline-block;
  width:50px;
}

/*************************/

.navbutton{
  border-radius: 50px;
  background-color: #1f1f1f;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  margin-top: -13px;
  left: 0;
  transition: margin-left .3s;
  cursor: pointer;
}

.arrow{
  height: 8px;
  width: 8px;
  border-right: 3px solid #969696;
  border-bottom: 3px solid #969696;
  position: absolute;
  top: 20px;
}

.navbutton-trigger{
    height:100%;
    width:100px;
    float:left;
    position:absolute;
    right:-100px;
}

.navbutton-trigger.open{
  right:0;
  width:0;
}

.navbutton{
  margin-left: -50px;
}

.active:hover .navbutton,
.open .navbutton{
  margin-left: -25px;
}

.open .navbutton .arrow{
  left:30px;
  transform: rotate(-225deg);
}

.navbutton .arrow{
  left: 28px;
  transform: rotate(-45deg);
}



.sidebar-scroll{
  height:100%;
  overflow:scroll;
  background-color:#1f1f1f;
  position: relative;
}

.sidebar-inner{
  padding: 15px;
}

.spacer{
  width:100px;
  height:1200px;
}

/*************************/

/* toggle switch start */
.toggleBoxSmall
    {
      border-radius:50px;
      width: 24px;
      height: 14px;
      cursor:pointer;
      user-select:none;
      background-color:#b7b7b7;
      transition:background-color .2s;
    }

 .toggleBoxSmall .knob
    {
      border-radius: 50px;
      width: 12px;
      height: 12px;
      position: absolute;
      margin-left: 1px;
      box-sizing: content-box;
      background:#eee;
      transition:margin .1s;
      margin-top:1px;
    }

.toggleBoxSmall.on .knob
{
  margin-left:11px;
}

.toggleBoxSmall.on
{
  background-color:#0083E0;
}
/* toggle switch end */

/* hamburger start */
.hamburger
{
  z-index: 100;
  flex:none;
  position:absolute;
  width:20px;
  height:15px;
  margin: 15px;
  transform: rotate(0deg);
  transition: .2s ease-in-out;
  cursor:pointer;
}

.hamburgerBG{
  position: absolute;
  left: 3px;
  height: 43px;
  width: 43px;
  border-radius: 50px;
  background: #1f1f1f;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.hamburger div{
  width:20px;
  height:2px;
  border-radius: 2px;
  background-color:#5f5f5f;
  position: absolute;
  width: 100%;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.hamburger div:nth-child(1) {
  top: 0px;
}

.hamburger div:nth-child(2),
.hamburger div:nth-child(3) {
  top: 6px;
}

.hamburger div:nth-child(4) {
  top: 12px;
}

.hamburger.open div:nth-child(1) {
  top: 6px;
  width: 0%;
  left: 50%;
}

.hamburger.open div:nth-child(2) {
  transform: rotate(45deg);
}

.hamburger.open div:nth-child(3) {
  transform: rotate(-45deg);
}

.hamburger.open div:nth-child(4) {
  top: 6px;
  width: 0%;
  left: 50%;
}
/* hamburger end */

/* number spinner start */


span.spinner input.spinner {
	float: left;
	width: 40px;
	height: 26px;
	padding: 0;
	text-transform: uppercase;
	text-align: center;
  color: #989898;
  border: 1px #565656 solid;
  border-radius: 0;
	background: none;
	outline: none;
	pointer-events: none;
}

span.spinner {
	/*position: absolute;*/
  display:block;
	height: 40px;
	user-select:           none;
	-ms-user-select:       none;
	-moz-user-select:      none;
	-webkit-user-select:   none;
	-webkit-touch-callout: none;
}

span.spinner > .sub, span.spinner > .add {
	float: left;
	display: block;
	width: 25px;
	height: 26px;
	text-align: center;
	font-family: Lato;
	font-weight: 700;
	font-size: 1.2em;
	line-height: 26px;
  color: #989898;
  border: 1px #565656 solid;
	border-right: 0;
	border-radius: 2px 0 0 2px;
	cursor: pointer;
	transition:         0.1s linear;
	-o-transition:      0.1s linear;
	-ms-transition:     0.1s linear;
	-moz-transition:    0.1s linear;
	-webkit-transition: 0.1s linear;
}

span.spinner > .add {
	top: 0;
	border: 1px #565656 solid;
	border-left: 0;
	border-radius: 0 2px 2px 0;
}

span.spinner > .sub:hover, span.spinner > .add:hover {
	background: #1d1d1d;
	color: #fff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

/* number spinner end */
